# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/

# PyInstaller
*.manifest
*.spec

.pybuilder/
target/

# Environment
.venv

# PyCharm
.idea/

# Test file
tests.py

#InnoSetup
innosetup.iss
Output/
